.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.visited{
    background-color: bisque;
}

.non-visited{
    background-color: rgb(215, 219, 225);
}

.flag-container{
    width: 100px;
}